<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alertes</title>

    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css'%}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css'%}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <div class="row">
        <div class="col s3 sidebar hide-on-small-only ">
            <div class="container">
                <div class="user-view row center">
                    <div>
                        <!--<i class="medium material-icons">face</i>-->
                        {% load static%}
                        <img src="{% static '/images/Docteur.png'%}" width="100" height="100" alt="Profil"
                            class="circle responsive-img">
                    </div>
                    <span class="menu-title">Dr. Lamblot</span>
                </div>
                <div class="center-text">
                    <ul>
                        <li><i class="material-icons icon-sidebar">arrow_back</i><a href="{% url 'patients'%}"
                                class="white-text">Mes patients</a></li>
                        <li><i class="material-icons icon-sidebar">account_circle</i><a href="{% url 'profil'%}"
                                class="white-text">Profil du patient</a></li>
                        <li><i class="material-icons icon-sidebar">alarm</i><a href="{% url 'patient_alerts'%}"
                                class="white-text" style="font-weight: bold">Alertes du patient</a></li>
                        <li><i class="material-icons icon-sidebar">exit_to_app</i><a href="{% url 'login'%}"
                                class="white-text">Déconnexion</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col offset-m3 m9 background">
            <div class="row center">
                <div class="section">
                    <div class="container">
                        <h5 class="light flow-text border padding-title">Alertes de Emma Forrest</h5>
                        </br>
                        <div class="row">

                            <div class="col s12 m6">
                                <div>
                                    <div class="card border padding-card">
                                        <div class="card-content">
                                            <span class="card-title">
                                                <i class="material-icons left">people</i>
                                                Proches
                                            </span>

                                            <div class="collection">
                                                <a class="collection-item light-blue-text left-align">Indiana Forrest
                                                    <span class="new badge red">Alerte Fièvre</span>
                                                </a>
                                                <a class="collection-item light-blue-text left-align">Alvin Planchez</a>
                                                <a class="collection-item light-blue-text left-align">Robert Kohl</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="card border padding-card">
                                        <div class="card-content">
                                            <span class="card-title">
                                                <i class="material-icons left">local_hospital</i>
                                                Docteurs
                                            </span>
                                            <div class="collection">
                                                <a class="collection-item light-blue-text">Dr. Lamblot</a>
                                                <a class="collection-item light-blue-text">Dr. Christophe</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m6">
                                <div class="card border padding-card">
                                    <div class="card-content">
                                        <span class="card-title">
                                            <i class="material-icons left">notifications</i>
                                            Alertes
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>