{% load staticfiles %} {% load static %}
<html>
  <head>
    <title>django-chartjs line chart demo</title>
    <style>
      .chart {
        width: 1000px !important;
        height: 600px !important;
      }
    </style>
  </head>
  <body>
    <h1>Loaded in real time</h1>

    <div class="chart">
      <canvas id="myChart"></canvas>
    </div>

    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
    <script
      type="text/javascript"
      src="{% static 'js/Chart.min.js' %}"
    ></script>
    <script type="text/javascript">
      var data_global;

      var ctx = $("#myChart")
        .get(0)
        .getContext("2d");
      var chart = new Chart(ctx, {
        type: "line",
        data: null,
        options: {
          scales: {
            xAxes: [
              {
                ticks: {
                  callback: function(value) {
                    return new Date(value).toLocaleDateString("fr-FR");
                  }
                }
              }
            ]
          }
        }
      });

    
      updateChart();
      window.setInterval(updateChart, 10000);

      function updateChart() {
        $.get("/api/get/", 
        { epoch_start: 0, epoch_end: 1596805731, sensor_id: 3}
        , function(data) {
          chart.config.data = data;
          chart.update();
        });
      }

      function uploadTestData() {
        $.post("/api/post/", 
        { epoch_start: 0, epoch_end: 1596805731, sensor_id: 3, value:Math.random()*5}
        , function(data) {
          //alert("test data posted");
          console.log(data);
          updateChart();
        });
      }
    </script>
  </body>

  <button onclick="uploadTestData()">Post fake data</button>
</html>
