<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Santé</title>
    <!-- CSS  -->
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'css/style.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div class="row">
    <div class="col s3 sidebar">
      <div class="container">
        <!--<div class="row center">-->
        <div class="user-view row center">
          <div>
              <!--<i class="medium material-icons">face</i>-->
            <img src="/images/Docteur.png" width="80" height="100" alt="Profil" class="circle responsive-img">           
          </div>
          <span class="menu-title">Dr BG</span>
        </div>
        <div class="center-text">
          <ul>
            <li><i class="material-icons icon-sidebar">home</i><a href="#" class="white-text" style="font-weight: bold;">Mes patients</a></li>
                <li><i class="material-icons icon-sidebar">settings</i><a href="#" class="white-text">Paramètres</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col offset-s3 s9 background"> 
      <div class="row center">
        <div class="section">
          <div class="container">
            <h5 class="light flow-text border padding-title">Profil de votre Patient</h5>
            </br>
            
            <div class="row">

              <div class="col s12" style="display:flex;justify-content:center;align-items:center;">
                <div class="col s12 m6">
                  <div class="card border padding-card">
                    <div class="card-content padding-card-content">
                      <span class="card-title light-blue-text title-card">Electrocardiogramme</span>
                    </div>
                    <div class="card-image">
                      <img src="images/Electrocardiogramme.png">
                    </div>
                  </div>
                </div>

                <div class="col s12 m6">
                  <div class="card border padding-card">
                    <div class="card-content padding-card-content">
                      <span class="card-title light-blue-text title-card">Respiration</span>
                    </div>
                    <div class="card-image">
                      <img src="images/Respiration.png">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col s12" style="display:flex;justify-content:center;align-items:center;">
                <div class="col s12 m6">
                  <div class="card border padding-card">
                    <div class="card-content padding-card-content">
                      <span class="card-title light-blue-text title-card">Pouls et Oxygène</span>
                    </div>
                    <div class="card-image">
                      <img src="images/Pouls.png">
                    </div>
                  </div>
                </div>

                <div class="col s12 m3">
                  <div class="card border padding-card">
                    <div class="card-content padding-card-content">
                      <span class="card-title light-blue-text title-card">Pollution de l'air</span>
                    </div>
                    <div class="card-image">
                      <img src="images/Pollution.png">
                    </div>
                  </div>
                </div>

                <div class="col s12 m3">
                  <div class="card border padding-card">
                    <div class="card-content padding-card-content">
                      <span class="card-title light-blue-text title-card">?</span>
                    </div>
                    <div class="card-image">
                      <img src="images/graphe1.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--  Scripts
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="js/materialize.js"></script>
      <script src="js/init.js"></script>-->
    </div>
  </div>
</body >
</html>
