<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Paramètres</title>
    
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'css/style.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <div class="row">
        <div class="col s3 sidebar">
          <div class="container">
            <div class="user-view row center">
              <div>
                <!--<i class="medium material-icons">face</i>-->
                <img src="/images/Docteur.png" width="80" height="100" alt="Profil" class="circle responsive-img">           
              </div>
              <span class="menu-title">Dr BG</span>
            </div>
            <div class="center-text">
              <ul>
                <li><i class="material-icons icon-sidebar">home</i><a href="{% url 'index'%}" class="white-text">Mes patients</a></li>
                <li><i class="material-icons icon-sidebar">settings</i><a href="{% url 'settings'%}" class="white-text" style="font-weight: bold;">Paramètres</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col offset-s3 s9 background"> 
            <div class="row center">
              <div class="section">
                <div class="container">
                  <h5 class="light flow-text border padding-title">Mes Paramètres</h5>
                  </br>
                  <b>En travaux</b>
                </div>
              </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
</body>
</html>